VITE_PRIVY_APP_ID=your-privy-app-id
VITE_PINATA_GATEWAY=your-gateway.mypinata.cloud
VITE_INDEXER_URL=http://localhost:3001
VITE_USE_INDEXER=true
# VITE_WS_URL=wss://sys.turboflakes.io/asset-hub-paseo
VITE_EXPECTED_GENESIS_HASH=0xd6eec26135305a8ad257a20d003357284c8aa03d0bdb2b357ab0a22371e11ef2

PINATA_JWT=your_pinata_jwt
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
